* {
  box-sizing: border-box;
}
/* Style of entire page */
body {
  margin: 0;
  height: 100vh;
  background-image: url(images/board.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  text-align: center;
}
.container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content {
  display: flex;
  justify-content: center;
}
aside {
  align-self: center;
  text-align: center;
  font-size: 1.5em;
  background-color: white;
  width: 15%;
}
/* Style of game board */
.game {
  background: rgb(45, 83, 121);
  justify-content: space-evenly;
  box-shadow: 5px 10px rgba(150, 150, 150, 0.6);
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  height: 80vh;
}
/* Style of players/chips */
.row {
  width: 100%;
  height: auto;
  border-radius: 50%;
  border: 2px solid black;
  background-color: white;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.player-one {
  width: 100%;
  border-radius: 50%;
  /* background-color: red; */
  background-image: url(./images/59264801.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  animation-name: dropped;
  animation-duration: 1s;
}
.player-two {
  width: 100%;
  border-radius: 50%;
  background-image: url(./images/andrew.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  animation-name: dropped;
  animation-duration: 1s;
}
.col {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 10%;
  height: 100%;
  transition: 1s;
}
.col:hover {
  cursor: pointer;
}
.col:hover > :first-child {
  background-color: gray;
  opacity: 0.5;
}
.col:active > :first-child {
  background-color: red;
}
@keyframes dropped {
  from {transform: translateY(-3em)}
  to {transform: translateY(0em)}
}
.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100%;
  border: 2px solid black;
  background-color: white;
  background-image: url(images/confetti.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 5px 10px rgba(150, 150, 150, 0.6);
  text-align: center;
  color: white;
  justify-content: center;
  font-size: 2em;
}
button {
  border: 0;
  align-self: center;
  font-size: 0.75em;
  display: inline;
  cursor: pointer;
}
button:hover {
  background-color: yellow;
}
button:active {
  background-color: rgb(121, 45, 45);
}
.startBox {
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 3%;
  height: 75vh;
  width: 75%;
  margin: auto;
  border: 1px solid black;
  background-color: rgb(45, 83, 121);
  box-shadow: 5px 10px rgba(150, 150, 150, 0.6);
  color: yellow;
  text-align: center;
  font-size: 2em;
  justify-content: center;
}
h1 {
  margin: 0 auto;
}
.size {
  text-align: center;
}
.hidden {
  display: none;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  font-size: 70%;
  border-radius: 6px;
  padding: 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 50%;
}
input {
  font-size: inherit;
  text-align: end;
  background-color: black;
  color: white;
  width: 2em;
}
.timerAlert {
  color: red;
  font-size: 1.2em;
}
.fadeIn {
  animation-name: fade;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
@keyframes fade {
  0% {
    opacity: 25%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 25%;
  }
}
